/*  	
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #383838;
	background-color: #EAEDF1;
}

h1 {
	/*color: #FFFFFF;*/
}

h2 {
	color: #28313F;
}

h3 {
	
}

hr {
	border-color: #CFD7DC;
	border-top-color: #CFD7DC;
}

hr.dashed {
	border-top-color: #CFD7DC;
}

/* Search box
--------------------------------------------- */

#search-box {
	color: #FFFFFF;
}

#search-box #keywords {
	background-color: #FFF;
}

#search-box input {
	border-color: #708090;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.navbar {
	/* background-color: #cadceb; */
}

.forabg {
	background-color: #FFF;
}

.forumbg {
	background-color: #FFF;
	/*background-image: url("{T_THEME_PATH}/images/bg_header.gif");*/
}

.panel {
	background-color: #FFF;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}

/*.bg1	{ background-color: #ECF3F7; }*/
/*.bg2	{ background-color: #e1ebf2;  }*/
/*.bg3	{ background-color: #cadceb; }*/

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

/*span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}*/

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-bottom-color: #FFFFFF;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFFF;
}

table.table1 tbody tr {
	border-color: #BFC1CF;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	/*background-color: #CFE1F6;
	color: #000;*/
}

table.table1 td {
	/*color: #536482;*/
}

table.table1 tbody td {
	border-top-color: #E5E5E5;
}
table.table1 tbody tr:first-child td {
	border-top: 0;
}
table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #000000;
}

dl.details dd {
	/*color: #536482;*/
}

.sep {
	color: #1198D9;
}

/* Pagination
---------------------------------------- */

.pagination span strong {
	color: #FFFFFF;
	background-color: #708090;
	border-color: #708090;
}

.pagination span a, .pagination span a:link, .pagination span a:visited {
	color: #777777;
	background-color: #D1DAE0;
	border-color: #B4BAC0;
}

.pagination span a:hover {
	border-color: #708090;
	background-color: #708090;
	color: #FFF;
}

.pagination span a:active {
	color: #FFF;
	background-color: #708090;
	border-color: #708090;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	/*background-image: url("{T_THEME_PATH}/images/icon_pages.gif");*/
}

.row .pagination span a, li.pagination span a {
	background-color: #E7EDF1;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #708090;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #BC2A4D;
	background-color: #F5DBE1;
}

.reported {
    background-color: #FFFFFF;
    border: 2px solid #F27935;
}
li.reported {
	    border: 2px solid #F27935 !important;
}
li.reported + li.reported {
	border-top: 0 !important;
}
li.reported:hover {
	background-color: #FFF !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #E1E1E1;
}

p.rules {
	background-color: #ECD5D8;
	background-image: none;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a:link	{ color: rgb(38,62,109); }
a:visited	{ color: rgb(38,62,109); }
a:hover	{ color: rgb(38,62,109); }
a:active	{ color: rgb(38,62,109); background-color: transparent; }

/* Links on gradient backgrounds */
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
	color: #FFFFFF;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
	color: #FFFFFF;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #FFF;
}

#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
	/*color: #C8E6FF;*/
}

/* Links for forum/topic lists */
a.forumtitle {
	color: #2E3539;
}

/* a.forumtitle:visited { color: #708090; } */

a.forumtitle:hover {
	color: #2E3539;
}
ul.topiclist li.row dl.icon dt a.forumtitle:hover {
	text-decoration: underline !important;
}
a.forumtitle:active {
	color: #2E3539;
}

a.topictitle {
	color: #2E3539;
}

 a.topictitle:visited { color: #2E3539; } 

a.topictitle:hover {
	color: #2E3539;
	text-decoration: underline !important;
}

a.topictitle:active {
	color: #2E3539;
}

/* Post body links */
.postlink {
	color: #708090;
	border-bottom-color: #708090;
}

.postlink:visited {
	color: #708090;
	border-bottom-color: #708090;
}

.postlink:active {
	color: #708090;
}

.postlink:hover {
	color: #708090;
	border-bottom: 0;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
	background-color: transparent;
}

/* Profile links */
.postprofile a:link, .postprofile a:visited, .postprofile dt.author a {
	color: #708090;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	/*color: #D31141;*/
}

.postprofile a:active {
	color: #708090;
}

/* Profile searchresults */	
.search .postprofile a {
	color: #708090;
}

.search .postprofile a:hover {
	color: #D31141;
}

/* Back to top of page */
a.top {
	/*background-image: url("{IMG_ICON_BACK_TOP_SRC}");*/
}

a.top2 {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

/* Arrow links  */
/*a.up		{ background-image: url("{T_THEME_PATH}/images/arrow_up.gif") }*/
a.down		{ background-image: url("{T_THEME_PATH}/images/arrow_down.gif") }
/*a.left		{ background-image: url("{T_THEME_PATH}/images/arrow_left.gif") }*/
/*a.right		{ background-image: url("{T_THEME_PATH}/images/arrow_right.gif") }*/

a.up:hover {
	background-color: transparent;
}

a.left:hover {
	/*color: #368AD2;*/
	text-decoration: none !important;
}

a.right:hover {
	color: #708090;
}


/*  	
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	/*background-color: #eef5f9;
	background-image: url("{T_THEME_PATH}/images/gradient.gif");*/
}

ul.topiclist li {
	/*color: #4C5D77;*/
}
ul.topiclist li.header {
	/*background-color: #708090;*/
	background-color: rgb(38,62,109);
}
ul.topiclist dd {
	border-left-color: #FFFFFF;
}

.rtl ul.topiclist dd {
	border-right-color: #fff;
	border-left-color: transparent;
}

ul.topiclist li.row dt a.subforum.read {
	/*background-image: url("{IMG_SUBFORUM_READ_SRC}");*/
}
ul.topiclist li.row dt a.subforum.read:before {
	font-size: 12px;
	font-family: FontAwesome;
	content: "\f15b";
	text-decoration: none !important;
	color: #B0B2BB;
	margin-right: 5px;
}
ul.topiclist li.row dt a.subforum.unread {
	/*background-image: url("{IMG_SUBFORUM_UNREAD_SRC}");*/
}
ul.topiclist li.row dt a.subforum.unread:before {
	font-size: 12px;
	font-family: FontAwesome;
	content: "\f15b";
	text-decoration: none !important;
	color: #F27935;
	margin-right: 5px;
}
ul.topiclist li.row dt a.subforum:hover,
ul.topiclist li.row dl.icon dt a:hover {
	text-decoration: none !important;
	/*color: #FFF;*/
}
li.row {
	border-bottom-color: #E5E5E5;
}

li.row strong {
	color: #2E3539;
}

li.row:hover {
	/*background-color: #F6F4D0;*/
}

li.row:hover dd {
	/*border-left-color: #CCCCCC;*/
}

.rtl li.row:hover dd {
	/*border-right-color: #CCCCCC;*/
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #FFFFFF;
}

/* Forum list column styles */
ul.topiclist dd.searchextra {
	color: #333333;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #333333;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #333333;
}

.content h2, .panel h2 {
	/*color: #115098;*/
	/*border-bottom-color:  #CCCCCC;*/
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

/* Post signature */
.signature {
	border-top-color: #EBEBEB;
}

/* Post noticies */
.notice {
	border-top-color:  #CCCCCC;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #EAEDF1;
	/*background-image: url("{T_THEME_PATH}/images/quote.gif");*/
	border-color: #708090;
}

.rtl blockquote {
	/*background-image: url("{T_THEME_PATH}/images/quote_rtl.gif");*/
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #F5F5F5;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #FFFFFF;
}

/* Code block */
dl.codebox {
	background-color: #EAEDF1;
	border-color: #F27935;
}

dl.codebox dt {
	border-bottom-color:  #CCCCCC;
}

dl.codebox code {
	color: #2E8B57;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFFFF;
	border-color:  #C9D2D8;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #EBEBEB;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DCDEE2;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #666666;
	border-left-color: #FFFFFF;
}

.rtl .postprofile {
	border-right-color: #FFFFFF;
	border-left-color: transparent;
}

.pm .postprofile {
	border-left-color: #DDDDDD;
}

.rtl .pm .postprofile {
	border-right-color: #DDDDDD;
	border-left-color: transparent;
}

.postprofile strong {
	color: #000000;
}

.online {
	/*background-image: url("{IMG_ICON_USER_ONLINE_SRC}");*/
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

/* Big button images */
/*.reply-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_REPLY_SRC}"); }*/
/*.post-icon span		{ background-image: url("{IMG_BUTTON_TOPIC_NEW_SRC}"); }*/
/*.locked-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_LOCKED_SRC}"); }*/
/*.pmreply-icon span	{ background-image: url("{IMG_BUTTON_PM_REPLY_SRC}") ;}*/
/*.newpm-icon span 	{ background-image: url("{IMG_BUTTON_PM_NEW_SRC}") ;}*/
/*.forwardpm-icon span	{ background-image: url("{IMG_BUTTON_PM_FORWARD_SRC}") ;}*/

a.print {
	background-image: url("{T_THEME_PATH}/images/icon_print.gif");
}

a.sendemail {
	background-image: url("{T_THEME_PATH}/images/icon_sendemail.gif");
}

a.fontsize {
	background-image: url("{T_THEME_PATH}/images/icon_fontsize.gif");
}

/* Icon images
---------------------------------------- */
.sitehome						{ background-image: url("{T_THEME_PATH}/images/icon_home.gif"); }
.icon-faq						{ background-image: url("{T_THEME_PATH}/images/icon_faq.gif"); }
.icon-members					{ background-image: url("{T_THEME_PATH}/images/icon_members.gif"); }
.icon-home						{ background-image: url("{T_THEME_PATH}/images/icon_home.gif"); }
.icon-ucp						{ background-image: url("{T_THEME_PATH}/images/icon_ucp.gif"); }
.icon-register					{ background-image: url("{T_THEME_PATH}/images/icon_register.gif"); }
.icon-logout					{ background-image: url("{T_THEME_PATH}/images/icon_logout.gif"); }
.icon-bookmark					{ background-image: url("{T_THEME_PATH}/images/icon_bookmark.gif"); }
.icon-bump						{ background-image: url("{T_THEME_PATH}/images/icon_bump.gif"); }
.icon-subscribe					{ background-image: url("{T_THEME_PATH}/images/icon_subscribe.gif"); }
.icon-unsubscribe				{ background-image: url("{T_THEME_PATH}/images/icon_unsubscribe.gif"); }
.icon-pages						{ background-image: url("{T_THEME_PATH}/images/icon_pages.gif"); }
.icon-search					{ background-image: url("{T_THEME_PATH}/images/icon_search.gif"); }

/* Profile & navigation icons */
/*.email-icon, .email-icon a		{ background-image: url("{IMG_ICON_CONTACT_EMAIL_SRC}"); }*/
/*.aim-icon, .aim-icon a			{ background-image: url("{IMG_ICON_CONTACT_AIM_SRC}"); }*/
/*.yahoo-icon, .yahoo-icon a		{ background-image: url("{IMG_ICON_CONTACT_YAHOO_SRC}"); }*/
/*.web-icon, .web-icon a			{ background-image: url("{IMG_ICON_CONTACT_WWW_SRC}"); }*/
/*.msnm-icon, .msnm-icon a			{ background-image: url("{IMG_ICON_CONTACT_MSNM_SRC}"); }*/
/*.icq-icon, .icq-icon a			{ background-image: url("{IMG_ICON_CONTACT_ICQ_SRC}"); }*/
/*.jabber-icon, .jabber-icon a		{ background-image: url("{IMG_ICON_CONTACT_JABBER_SRC}"); }*/
/*.pm-icon, .pm-icon a				{ background-image: url("{IMG_ICON_CONTACT_PM_SRC}"); }*/
/*.quote-icon, .quote-icon a		{ background-image: url("{IMG_ICON_POST_QUOTE_SRC}"); }*/

/* Moderator icons */
/*.report-icon, .report-icon a		{ background-image: url("{IMG_ICON_POST_REPORT_SRC}"); }*/
/*.edit-icon, .edit-icon a			{ background-image: url("{IMG_ICON_POST_EDIT_SRC}"); }*/
/*.delete-icon, .delete-icon a		{ background-image: url("{IMG_ICON_POST_DELETE_SRC}"); }*/
/*.info-icon, .info-icon a			{ background-image: url("{IMG_ICON_POST_INFO_SRC}"); }*/
/*.warn-icon, .warn-icon a			{ background-image: url("{IMG_ICON_USER_WARN_SRC}"); } /* Need updated warn icon */*/

/*  	
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

#cp-main h3, #cp-main hr, #cp-menu hr {
	border-color: #A4B3BF;
}
.section-ucp hr,
.mcp-main hr {
	border-color: #E3E5E7 !important;
}
#cp-main .panel li.row {
	/*border-bottom-color: #B5C1CB;*/
	/*border-top-color: #F9F9F9;*/
}

ul.cplist {
	/*border-top-color: #B5C1CB;*/
	background-color: #FFF;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
	/*color: #000000;*/
}

#cp-main table.table1 thead th {
	color: #333333;
	border-bottom-color: #333333;
}

#cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
#tabs a {
	/*background-image: url("{T_THEME_PATH}/images/bg_tabs1.gif");*/
	background-color: #708090;
	color: #FFF;
}
#tabs a:hover {
	opacity: .75;
}
#tabs a span {
	/*background-image: url("{T_THEME_PATH}/images/bg_tabs2.gif");*/
	/*color: #536482;*/
}

#tabs a:hover span {
	/*color: #BC2A4D;*/
}

#tabs .activetab a {
	border-bottom: 0;
	background-color: #FFF;
}

#tabs .activetab a span {
	color: #333333;
}

#tabs .activetab a:hover span {
	color: #000000;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs li {
	background-color: #2E3539;
}

#minitabs li.activetab {
	background-color: #F5F5F5;
}

#minitabs li.activetab a, #minitabs li.activetab a:hover {
	color: #383838 !important;
}
#minitabs li a:link, #minitabs li a:visited {
	color: #FFF;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #FFF;
	background-color: #2E3539;
	/*background-image: url("{T_THEME_PATH}/images/bg_menu.gif");*/
}

.rtl #navigation a {
	/*background-image: url("{T_THEME_PATH}/images/bg_menu_rtl.gif");*/
	/*background-position: 0 100%;*/
}

#navigation a:hover {
	background-image: none;
	background-color: #2E3539;
	color: #FFF;
	opacity: .75;
}

#navigation #active-subsection a {
	color: #383838;
	background-color: #F5F5F5;
	background-image: none;
}

#navigation #active-subsection a:hover {
	color: #383838;
	opacity: 1;
}

/* Preferences pane layout
----------------------------------------*/
#cp-main h2 {
	color: #333333;
}

#cp-main .panel {
	background-color: #F5F5F5;
}

#cp-main .pm {
	background-color: #F5F5F5;
	margin-left: 20px;
	overflow: hidden;
}

/*#cp-main span.corners-top, #cp-menu span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left2.gif");
}

#cp-main span.corners-top span, #cp-menu span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.gif");
}

#cp-main span.corners-bottom, #cp-menu span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left2.gif");
}

#cp-main span.corners-bottom span, #cp-menu span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.gif");
}*/

/* Topicreview */
/*#cp-main .panel #topicreview span.corners-top, #cp-menu .panel #topicreview span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left.gif");
}

#cp-main .panel #topicreview span.corners-top span, #cp-menu .panel #topicreview span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right.gif");
}

#cp-main .panel #topicreview span.corners-bottom, #cp-menu .panel #topicreview span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left.gif");
}

#cp-main .panel #topicreview span.corners-bottom span, #cp-menu .panel #topicreview span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right.gif");
}*/
.section-ucp ul.topiclist li.header a:link,
.section-ucp ul.topiclist li.header a:visited {
	color: #FFF;
}
/* Friends list */
.cp-mini {
	/*background-color: #eef5f9;*/
}

dl.mini dt {
	color: #333333;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #000000 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
#gallery label {
	background-color: #FFFFFF;
	border-color: #CCC;
}

#gallery label:hover {
	background-color: #EEE;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #D9D9D9;
	background-color: #FAFAFA;
	/*color: #000;*/
}

label {
	/*color: #425067;*/
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #333;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #333333;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #FFFFFF; 
	border-color: #DADADA;
	color: #9F9F9F;
}

.inputbox:hover,
.search-box:hover .inputbox {
	border-color: #708090;
}

.inputbox:focus {
	border-color: #708090;
	color: #4B4B4B;
}

/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #FFF;
	background-color: #C8C8C8;
	line-height: 33px;
	height: 33px;
	padding: 0 10px 2px;
	border-radius: 5px;
	color: #FFF;
	-moz-box-shadow:inset 0px -3px 0px 0px #A7A7A7;
	-webkit-box-shadow:inset 0px -3px 0px 0px #A7A7A7;
	box-shadow:inset 0px -3px 0px 0px #A7A7A7;
	margin-bottom: 10px;
}
#attach-panel input.button2,
.search-box input.button2,
.display-actions .right-box input.button2,
.display-actions .left-box input.button2,
.display-actions input.button1,
.display-actions input.button2,
#ucp.pm-rules input.button2,
#mcp_chgposter input.button2,
#mcp input.button2,
.forum-selection2 input.button2,
.ucp-main .right-box input.button2 {
	margin-bottom: 0;
}
form#forum-search #search_keywords:focus + input.button2,
form#forum-search #search_keywords:hover + input.button2,
.search-box:hover input.button2,
.display-options:hover input.button2,
.jumpbox:hover input.button2,
.quickmod:hover input.button2,
form#topic-search #search_keywords:focus + input.button2,
.display-actions .right-box:hover input.button2,
.display-actions .left-box:hover input.button2,
#ucp.pm-rules dl:hover > dd > input.button2,
fieldset dl > dd:hover > input.button2,
.forum-selection2:hover input.button2,
.display-actions:hover input.button2,
.display-actions:hover input.button1,
.forum-selection:hover input.button2,
.user-search-field:hover input.button2,
.ucp-main .right-box:hover input.button2 {
	background-color: #708090;
	-moz-box-shadow:inset 0px -3px 0px 0px #4A5867;
	-webkit-box-shadow:inset 0px -3px 0px 0px #4A5867;
	box-shadow:inset 0px -3px 0px 0px #4A5867;
}
.search-box a.button2, .search-box input.button2 {
	height: 38px;
}
.display-actions .right-box {
	margin-bottom: 20px !important;
}
a.button1, input.button1 {
	/*border-color: #666666;*/
	border: 0;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	/*border-color: #666666;*/
	border: 0;
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	/*color: #000000;*/
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	/*border-color: #BC2A4D;*/
	color: #FFF;
}
.display-actions button.button2 {
	color: #FFF;
	line-height: 28px;
	height: 33px;
	padding: 0 10px 2px;
	border-radius: 5px;
	color: #FFF;
	background-color: #708090;
	-moz-box-shadow:inset 0px -3px 0px 0px #4A5867;
	-webkit-box-shadow:inset 0px -3px 0px 0px #4A5867;
	box-shadow:inset 0px -3px 0px 0px #4A5867;
	margin-bottom: 10px;	
	border: 0;
	cursor: pointer;
}
.display-actions button.button2:hover {
	opacity: .75;
	-webkit-transform: translateY(0px);
}
input.search {
	/*background-image: url("{T_THEME_PATH}/images/icon_textbox_search.gif");*/
}

input.disabled {
	color: #666666;
}

/* Top bar colors
---------------------------------------- */
#topbar {
	color: #FFF;
}
#topbar a:link, #topbar a:visited {
	color: #FFF;
}
#topbar .fa {
	/*color: #708090;*/
	color: rgb(38,62,109);
}

/* Nav icons
---------------------------------------- */

.fa.grey {
	color: #BCBCBC;
}
.feed-icon-forum .fa-rss-square {
	color: #F27935;
	vertical-align: 0;
}