/* Content Styles
---------------------------------------- */

ul.topiclist {
	display: block;
	list-style-type: none;
	margin: 0;
}

ul.forums {
	/*background: #f9f9f9 none repeat-x 0 0;*/
	padding: 0;
}

ul.topiclist li {
	display: block;
	list-style-type: none;
	color: #777777;
	margin: 0;
	padding: 0px 20px;
}

ul.topiclist dl {
	position: relative;
}

ul.topiclist li.row dl {
	padding: 20px 0;
}

ul.topiclist dt {
	display: block;
	float: left;
	width: 50%;
	font-size: 1em;
	padding-left: 5px;
	padding-right: 5px;
}

ul.topiclist dd {
	display: block;
	float: left;
	/*border-left: 1px solid #FFFFFF;*/
	padding: 0;
}

ul.topiclist dfn {
	/* Labels for post/view counts */
	position: absolute;
	left: -999px;
	width: 990px;
}

ul.topiclist li.row dt a.subforum {
	position: relative;
	white-space: nowrap;
	padding: 0;
}

.forum-image {
	float: left;
	padding-top: 5px;
	margin-right: 5px;
}

li.row {
	border-bottom: 1px solid #E5E5E5;
}
ul.topiclist li.row:last-child {
	border-bottom: 0;
}
li.row strong {
	font-weight: normal;
	color: #000000;
}

li.row:hover {
	/*background-color: #f6f6f6;*/
}

li.row:hover dd {
	/*border-left-color: #CCCCCC;*/
}

li.header dt, li.header dd {
	line-height: 50px;
	border-left-width: 0;
	margin: 0;
	color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 1em;
	font-family: Ubuntu, sans-serif;
}

li.header dt {
	/*font-weight: bold;*/
}
li.header dt.header-name {
	font-size: 1.333em;
}

li.header dd {
	/*margin-left: 1px;*/
}

li.header dl.icon {
	min-height: 0;
}

li.header dl.icon dt {
	/* Tweak for headers alignment when folder icon used */
	padding-left: 0;
	padding-right: 58px;
}

/* Forum list column styles */
dl.icon {
	min-height: 35px;
	background-position: 0 20px;		/* Position of folder icon */
	background-repeat: no-repeat;
}

dl.icon dt {
	padding-left: 53px;					/* Space for folder icon */
	background-repeat: no-repeat;
	background-position: 0 20px;		/* Position of topic icon */
}

dd.posts, dd.topics, dd.views {
	width: 8%;
	text-align: center;
	font-size: 1em;
	/*line-height: 50px;*/
}

/* List in forum description */
dl.icon dt ol,
dl.icon dt ul {
	list-style-position: inside;
	margin-left: 1em;
}

dl.icon dt li {
	display: list-item;
	list-style-type: inherit;
}

dd.lastpost {
	width: 25%;
	font-size: 1em;
}

dd.redirect {
	font-size: 1em;
	line-height: 2.5em;
}

dd.moderation {
	font-size: 1em;
}
ul.topiclist li.header {
	height: 50px;
	border-radius: 5px 5px 0 0;
	padding: 0 20px;
}
.section-ucp ul.topiclist li.header,
#cp-main ul.topiclist li.header {
	height: auto;
}
.section-ucp ul.topiclist li.header dd,
.section-ucp ul.topiclist li.header dt {
	margin-bottom: 0 !important;
}
dd.lastpost span, ul.topiclist dd.searchby span, ul.topiclist dd.info span, ul.topiclist dd.time span, dd.redirect span, dd.moderation span {
	display: block;
	padding-left: 5px;
}

dd.time {
	width: auto;
	line-height: 200%;
	font-size: 1em;
}

dd.extra {
	width: 12%;
	line-height: 200%;
	text-align: center;
	font-size: 1em;
}

dd.mark {
	float: right !important;
	width: 9%;
	text-align: center;
	line-height: 200%;
	font-size: 1.2em;
}

dd.info {
	width: 30%;
}

dd.option {
	width: 15%;
	line-height: 200%;
	text-align: center;
	font-size: 1em;
}

dd.searchby {
	width: 47%;
	font-size: 1em;
	line-height: 1em;
}

ul.topiclist dd.searchextra {
	margin-left: 5px;
	padding: 0.2em 0;
	font-size: 1em;
	color: #333333;
	border-left: none;
	clear: both;
	width: 98%;
	overflow: hidden;
}

/* Container for post/reply buttons and pagination */
.topic-actions {
	margin-bottom: 15px;
	height: 40px;
	min-height: 40px;
}
div[class].topic-actions {
	height: auto;
}

/* Post body styles
----------------------------------------*/
.postbody {
	padding: 0;
	line-height: 1.48em;
	color: #333333;
	width: 76%;
	float: left;
	clear: both;
}

.postbody .ignore {
	font-size: 1em;
}

.postbody h3.first {
	/* The first post on the page uses this */
	font-size: 1em;
}

.postbody h3 {
	/* Postbody requires a different h3 format - so change it here */
	font-size: 1em;
	font-weight: 600;
	padding: 2px 0 0 0;
	margin: 0 0 5px 0 !important;
	text-transform: none;
	border: none;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 125%;
}
.search.post .postbody h3 {
	margin-bottom: 10px !important;
}
.postbody h3 img {
	/* Also see tweaks.css */
	vertical-align: bottom;
}

.postbody .content {
	font-size: 1em;
	line-height: 1.5em;
	border-top: solid 2px #EBEBEB;
	padding-top: 20px;
}
#report .postbody .content {
	padding-top: 20px !important;
}

.search .postbody {
	width: 68%
}

/* Topic review panel
----------------------------------------*/
#review {
	margin-top: 40px;
	margin-bottom: 20px;
}

#topicreview {
	padding-right: 5px;
	overflow: auto;
	height: 300px;
}
.ucp-main #topicreview,
.ucp-main h3#review {
	margin-left: 20px !important;
}
.ucp-main #topicreview .post {
	background-color: #F5F5F5;
}
.ucp-main h3#review {
	font-size: 1.500em;
	font-weight: 500;
}
.ucp-main #topicreview .postbody h3 {
	font-size: 1em;
}
.ucp-main #topicreview .postbody h3 a {
	font-weight: bold;
}
.ucp-main #topicreview .postbody .content {
	padding-top: 10px;
}
html body#phpbb.section-ucp div#wrap div#page-body form#postform div.panel div.inner div div#cp-main.ucp-main div#preview.post div.inner div.postbody h3 {
	font-size: 1.667em;
	font-family: Ubuntu, sans-serif;
	font-weight: 500;
}
#topicreview .postbody {
	width: auto;
	float: none;
	margin: 0;
	height: auto;
}

#topicreview .post {
	height: auto;
}

#topicreview h2 {
	border-bottom-width: 0;
}

.post-ignore .postbody {
	display: none;
}

/* MCP Post details
----------------------------------------*/
#post_details
{
	/* This will only work in IE7+, plus the others */
	overflow: auto;
	max-height: 320px;
	padding-top: 20px !important;
}

#expand
{
	clear: both;
}

/* Content container styles
----------------------------------------*/
.content {
	min-height: 3em;
	overflow: hidden;
	line-height: 1.4em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	padding-bottom: 1px;
}

.content h2, .panel h2 {
	font-weight: normal;
	/*color: #989898;*/
	border-bottom: 0;
	font-size: 1.667em;
	/*margin-top: 0.5em;*/
	margin-bottom: 20px;
	/*padding-bottom: 0.5em;*/
}

.panel h3 {
	margin: 0 0 10px;
	font-size: 1.667em;
	font-weight: normal;
}

.panel p {

}

.content p {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	/*font-size: 1.2em;*/
	margin-bottom: 1em;
	/*line-height: 1.4em;*/
}

dl.faq {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 20px;
	/*line-height: 1.4em;*/
}

dl.faq dt {
	font-weight: bold;
	color: #333333;
	margin-bottom: 10px;
}
.column1 .faq:last-child,
.column2 .faq:last-child {
	margin-bottom: 0;
}
.column1 .faq:first-child,
.column2 .faq:first-child {
	margin-top: 0;
}
#faqlinks {
	overflow: hidden;
}
.content dl.faq {
	/*font-size: 1.2em;*/
	/*margin-bottom: 0.5em;*/
}

.content li {
	list-style-type: inherit;
}

.content ul, .content ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

.posthilit {
	background-color: #f3f3f3;
	color: #BCBCBC;
	padding: 0 2px 1px 2px;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
	border-left-color: #BCBCBC;
	border-right-color: #BCBCBC;
}

/* Post author */
p.author {
	margin: 0 15em 10px 0;
	padding: 0 0 5px 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.2em;
}

/* Post signature */
.signature {
	margin-top: 1.5em;
	padding-top: 15px;
	font-size: 1em;
	border-top: 2px solid #D9D9D9;
	clear: left;
	line-height: 140%;
	overflow: hidden;
	width: 100%;
}

dd .signature {
	margin: 0;
	padding: 0;
	clear: none;
	border: none;
}

.signature li {
	list-style-type: inherit;
}

.signature ul, .signature ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

/* Post noticies */
.notice {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	width: auto;
	margin-top: 1.5em;
	padding-top: 0.2em;
	font-size: 1em;
	border-top: 1px dashed #CCCCCC;
	clear: left;
	line-height: 130%;
}

/* Jump to post link for now */
ul.searchresults {
	list-style: none;
	text-align: right;
	clear: both;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	/*background: #ebebeb none 6px 8px no-repeat;*/
	/*border: 1px solid #dbdbdb;*/
	font-size: 0.917em;
	margin: 10px 0 20px 20px;
	overflow: hidden;
	padding: 15px 15px 15px 30px;
	/*border-radius: 5px;*/
	border-left: solid 5px #708090;
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #EFEFEF;
	font-size: 1em;
	margin: 0;	
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #FEFEFE;
}

blockquote cite {
	/* Username/source of quoter */
	font-style: normal;
	font-weight: bold;
	margin-left: 15px;
	margin-top: -18px;
	display: block;
	font-size: 0.917em;
}

blockquote cite cite {
	font-size: 1em;
}

blockquote.uncited {
	/*padding-top: 25px;*/
}
blockquote > div > blockquote {
	margin-top: 10px;
}
blockquote > div:before {
	content: "\f10d";
	font-family: FontAwesome;
	margin-right: 5px;
	color: #828282;
}
/* Code block */
dl.codebox {
	padding: 15px 15px 15px 30px;
	background-color: #EAEDF1;
	border-left: solid 5px #F27935;
	font-size: 1em;
	margin: 10px 0 20px 20px;
}

dl.codebox dt {
	/*text-transform: uppercase;*/
	border-bottom: 2px solid #CCCCCC;
	margin-bottom: 10px;
	font-size: 0.917em;
	font-weight: bold;
	display: block;
	padding-bottom: 10px;
}

blockquote dl.codebox {
	margin-left: 0;
}

dl.codebox code {
	/* Also see tweaks.css */
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	white-space: normal;
	/*padding-top: 5px;*/
	font: 0.917em Monaco, "Andale Mono","Courier New", Courier, mono;
	line-height: 1.4em;
	color: #8b8b8b;
	margin: 2px 0;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #000000; }
.syntaxdefault	{ color: #bcbcbc; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #585858; }
.syntaxstring	{ color: #a7a7a7; }

/* Attachments
----------------------------------------*/
.attachbox {
	float: left;
	width: auto; 
	margin: 10px 10px 10px 0;
	padding: 10px;
	background-color: #FFFFFF;
	border: 1px dotted #d8d8d8;
	clear: left;
}

.pm-message .attachbox {
	background-color: #f3f3f3;
}

.attachbox dt {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.attachbox dd {
	/*margin-top: 4px;*/
	padding-top: 10px;
	clear: left;
	border-top: 1px solid #EBEBEB;
}

.attachbox dd dd {
	border: none;
}

.attachbox p {
	line-height: 110%;
	color: #666666;
	font-weight: normal;
	clear: left;
}

.attachbox p.stats
{
	line-height: 110%;
	color: #666666;
	font-weight: normal;
	clear: left;
}

.attach-image {
	margin: 3px 0;
	width: 100%;
	max-height: 350px;
	overflow: auto;
}

.attach-image img {
	/*border: 1px solid #999999;*/
/*	cursor: move; */
	cursor: default;
}
#attach-panel dt {
	float: none;
}
#attach-panel dd {
	margin-left: 0;
}
#attach-panel #fileupload,
#uploadfile {
	padding: 3px;
}
/* Inline image thumbnails */
div.inline-attachment dl.thumbnail, div.inline-attachment dl.file {
	display: block;
	margin-bottom: 4px;
}

div.inline-attachment p {
	font-size: 100%;
}

dl.file {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	display: block;
}

dl.file dt {
	text-transform: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

dl.file dd {
	color: #666666;
	margin: 0;
	padding: 0;	
}

dl.thumbnail img {
	padding: 3px;
	border: 1px solid #666666;
	background-color: #FFF;
}

dl.thumbnail dd {
	color: #666666;
	font-style: italic;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

.attachbox dl.thumbnail dd {
	font-size: 100%;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border: 1px solid #d2d2d2;
}

/* Post poll styles
----------------------------------------*/
fieldset.polls {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

fieldset.polls dl {
	margin-top: 5px;
	border-top: 1px solid #e2e2e2;
	padding: 5px 0 0 0;
	line-height: 120%;
	color: #666666;
}

fieldset.polls dl.voted {
	font-weight: bold;
	color: #000000;
}

fieldset.polls dt {
	text-align: left;
	float: left;
	display: block;
	width: 30%;
	border-right: none;
	padding: 0;
	margin: 0;
	font-size: 1em;
}

fieldset.polls dd {
	float: left;
	width: 10%;
	border-left: none;
	padding: 0 5px;
	margin-left: 0;
	font-size: 1em;
}

fieldset.polls dd.resultbar {
	width: 50%;
}

fieldset.polls dd input {
	margin: 2px 0;
}

fieldset.polls dd div {
	text-align: right;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0 2px;
	overflow: visible;
	min-width: 2%;
}

.pollbar1 {
	background-color: #aaaaaa;
	border-bottom: 1px solid #747474;
	border-right: 1px solid #747474;
}

.pollbar2 {
	background-color: #bebebe;
	border-bottom: 1px solid #8c8c8c;
	border-right: 1px solid #8c8c8c;
}

.pollbar3 {
	background-color: #D1D1D1;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}

.pollbar4 {
	background-color: #e4e4e4;
	border-bottom: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
}

.pollbar5 {
	background-color: #f8f8f8;
	border-bottom: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	/* Also see tweaks.css */
	margin: 5px 0 10px 0;
	min-height: 80px;
	color: #666666;
	border-left: 1px solid #FFFFFF;
	width: 22%;
	float: right;
	display: inline;
}
.pm .postprofile {
	border-left: 0;
}

.postprofile dd, .postprofile dt {
	/*line-height: 1.2em;*/
	/*margin-left: 8px;*/
}

.postprofile strong {
	font-weight: normal;
	color: #000000;
}

.avatar {
	border: none;
	margin-bottom: 3px;
}

.online {
	/*background-image: none;
	background-position: 100% 0;
	background-repeat: no-repeat;*/
}

/* Poster profile used by search*/
.search .postprofile {
	width: 30%;
}

/* pm list in compose message if mass pm is enabled */
dl.pmlist dt {
	width: 60% !important;
	float: left !important;
}

dl.pmlist dt textarea {
	width: 88%;
}

dl.pmlist dd {
	margin-left: 61% !important;
	margin-bottom: 2px !important;
}
dl.pmlist dd input.button2 {
	margin-bottom: 0;
	height: 26px;
	line-height: 26px;
}
dd.friend-offline .button2, dd.friend-online .button2 {
	height: 26px;
	line-height: 26px;	
}
.pmlist > li.row {
    padding: 0 20px !important;
    border-bottom: solid 1px #E5E5E5 !important;
    /*border-width: 0 3px 1px 3px !important;*/
    border-left: solid 3px #FFF;
    border-right: solid 3px #FFF;
}
.pmlist > li.row:last-child {
    border-bottom: 0 !important;
    border-radius: 0 0 5px 5px;
}