/*  phpBB 3.0.12 Style Sheet
    --------------------------------------------------------------
	Style name: Caravan & Motorhome
	Copyright (C) 2017 Express Media Group
    --------------------------------------------------------------
*/

.affix {

    top:10vh;

}

.affix-top{

    top:400px;
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .inner-block {
        /*width: 940px;*/
        width: 76vw;
    }
    .sidebar#page-body-inner {
		width: 640px;
	}
    ul.topiclist dt {
        overflow: hidden;
        width: 48%;
    }
    .search-box + .pagination {
        margin-bottom: 10px;
    }

    #LeftFloatAds {
        display: none;
    }

    #page-body{
        margin:0 0 0 0;
        margin-left:5vw;
    }

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .inner-block {
        width: 750px;
    }
    .sidebar#page-body-inner {
        width: 480px;
    }
    #sidebar {
        width: 250px;
    }
    input.search {
        width: 210px;
    }
    .search-box + .pagination {
        margin-bottom: 10px;
    }
    .forabg ul.topiclist dd.topics,
    .forabg ul.topiclist dd.posts,
    .forumbg ul.topiclist dd.views {
        display: none;
    }
    .sidebar .forumbg ul.topiclist dd.posts {
        display: none;
    }
	#topbar-inner .search-box .search-box-inner {
	    width: 170px;
	}
	#topbar-inner .search-box input#keywords {
	    width: 128px;
	}
    #topbar-inner .search-box .search-adv-link {
    	display: none;
    }
    #topbar .user-links li {
        margin-left: 5px;
    }
	ul.topiclist dt {               
	    width: 55%;
	}
    .drafts dd.mark {
        display: none;
    }
    dd.mark {
        width: 5%;
    }
    ul.topiclist dt {
        overflow: hidden;
    }
    .section-ucp .ucp-main dl.icon dd.info {
        width: 24% !important;
    }
    #jumpbox {
        clear: both;
    }
    .sidebar .block-outer.width-50 {
        width: 100%;
        margin-right: 0 !important;
    }
    #tabs a {
        padding: 10px !important;
    }
    dd.mark {
        width: 7%;
    }
    dd.moderation {
        width: 35%;
    }
    #search_memberlist fieldset.fields1 dt {
        width: auto !important;
        float: none;
    }
    #search_memberlist fieldset.fields1 dd {
        margin-left: 0 !important;
    }
    #search_memberlist dd label {
        white-space: normal;
    }

}

@media only screen and (width: 1366px) and (height: 1024px) {

    #LeftFloatAds {
        left: 3% !important;
    }
    #RightFloatAds {
        right: 3% !important;
    }

}

@media only screen and (min-width: 1440px) and (min-height: 1194px) {

    #LeftFloatAds {
        left: 3% !important;
    }
    #RightFloatAds {
        right: 3% !important;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    html { 
        -webkit-text-size-adjust: 100%;
    }
    .inner-block {
        width: 95%;
    }
    #headerbar {
        height: auto;
    }
    #subheader {
        margin-top: -42px;
    }
    #site-logo {
        display: block;
        width: 100%;
        height: auto;
        padding: 20px 0;
        text-align: center;
    }
    #main-nav {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        padding-bottom: 20px;
    }
    #main-nav ul {
        float: none;
    }
    .site-name {
        font-size: 2.500em;
    }
    p.site-description {
        font-size: 1.250em;
    }
    #sidebar {
        float: none;
        margin-bottom: 20px;
        width: 100%;
    }
    #topbar {
        height: auto;
    }
    #topbar-inner {
        height: auto;
        padding: 10px 0 20px;
    }
    #topbar-inner .search-box .search-box-inner {
        width: 100%;
    }
    #topbar-inner .search-box input#keywords {
        width: 90%;
    }
    #topbar-inner .search-box {
        width: 98%;
        margin-top: 0;
        float: none;
        height: auto;
    }
    .search-box #keywords {
        width: 90%;
    }
    #topbar-inner .search-box .search-adv-link {
        display: none;
    }
    #topbar .user-links {
        margin-top: 0;
        margin-bottom: 10px;
    }
    #topbar .user-links li {
        line-height: 30px;
    }
    dd.topics, dd.posts,
    .forumbg ul.topiclist li.header dd.views,
    .forumbg ul.topiclist li.row dd.views {
        display: none !important;
    }
    ul.topiclist dt {               
        width: 60%;
    }
    .section-ucp .ucp-main dl.icon dd.info {
        width: 24% !important;
    }
    .section-ucp .ucp-main ul.topiclist li.row dl.icon dt {
        width: 55%;
    }
    .section-ucp #page-body .ucp-main ul.linklist {
        text-align: right;
    }
    fieldset.display-actions {
        text-align: center;
    }    
    fieldset.display-actions .left-box,
    fieldset.display-actions .right-box  {
        float: none;
        text-align: center;
    }
    .forumbg-table > .inner {
        margin: 0;
    }
    #topbar .user-links {
        float: none;
        text-align: center;
    }
    .user-links li {
        display: inline;
        vertical-align: top;
        zoom: 1; /* Fix for IE7 */
        *display: inline; /* Fix for IE7 */
        float: none;
    }
    #page-body-inner.sidebar {
        float: none;
        margin-right: 0;
        width: 100%;
    }
    #container1, #container2, #container3,
    #col1, #col2 {
        float: none;
        position: inherit;
        margin: 0;
    }
    #col1, #col2 {
        padding: 24px 12px !important;
        overflow: hidden;
    }
    #col1 {
        border-bottom: solid 12px #F6F6F6;
    }
    #col2 {
        background-color: #43A6DF;
        width: auto;
    }
    #page-body .linklist {
        float: none;
        text-align: center;
    }
    ul.linklist {
        text-align: center;
    }
    ul.linklist li {
        float: none !important;
        display: inline;
    }
    .top-navbar ul.linklist {
        text-align: left;
    }
    .top-navbar ul.linklist li.rightside {
        float: right !important;
    }
    #faqlinks .column1, #faqlinks .column2 {
        float: none;
        width: 100%;
    }
    #memberlist .posts, #memberlist .info {
        display: none;
    }
    #memberlist .info.forums {
        display: table-cell;
    }
    #memberlist thead th:first-child {
        /*border-top-right-radius: 5px;*/
    }
    fieldset.jumpbox {
        text-align: center;
    }
    fieldset.quickmod {
        height: auto;
        margin-bottom: 12px;
        width: auto;
    }
    fieldset dt {
        width: auto;
    }
    fieldset dd {
        margin-left: 0;
    }
    dd label {
        white-space: normal;
    }
    .topic-actions .pagination {
        margin-bottom: 12px;
    }
    .postbody ul.profile-icons {
        overflow: hidden;
        float: none;
    }
    .postbody h3 {
        margin: 12px 0 !important;
    }
    .block-outer.width-50 {
        float: none;
        width: 100%;
        margin-right: 0;
        clear: both;
    }
    .backto {
        overflow: hidden;
    }
    .panel fieldset dt {
        float: none;
    }
    .panel fieldset.fields1 dd {
        margin-left: 0;
    }
    #message-box {
        width: 94%;
    }
    #message-box textarea {
        width: 94%;
    }
    .column1, .column2 {
        clear: none;
        float: none;
        width: 100%;
    }
    #smiley-box {
        float: none;
        width: 100%;
    }
    .editor-status {
        display: none;
    }
    a.button1, input.button1, input.button3, a.button2, input.button2 {
        margin-bottom: 6px;
    }
    #tabs {
        /*margin: 20px 0 -1px;*/
        /*min-width: inherit;*/
    }
    #tabs a {
        padding: 10px !important;
    }
    #cp-menu, #cp-main {
        float: none;
        width: 100%;
    }
    #cp-main .panel {
        background-color: transparent;
    }
    .section-ucp .ucp-main ul.topiclist li.row,
    .section-mcp .mcp-main ul.topiclist li.row {
        border-right: solid 1px #E5E5E5;
        border-left: solid 1px #E5E5E5;
    }
    .section-ucp .ucp-main ul.topiclist li.row:last-child,
    .section-mcp .mcp-main ul.topiclist li.row:last-child {
        border-bottom: solid 1px #E5E5E5 !important;
        border-radius: 0 0 5px 5px;
    }
    .table-dark-header tbody td:first-child {
        border-left: solid 1px #E5E5E5;
    }
    .table-dark-header tbody td:last-child {
        border-right: solid 1px #E5E5E5;
    }
    .table-dark-header tbody tr:last-child td {
        border-bottom: solid 1px #E5E5E5 !important;
    }
    .table-dark-header th {
        padding: 0 10px !important;
    }
    .pmlist li.pm_message_reported_colour,
    .pmlist li.pm_marked_colour,
    .pmlist li.pm_replied_colour,
    .pmlist li.pm_friend_colour,
    .pmlist li.pm_foe_colour {
        border-left-width: 3px !important;
        border-right-width: 3px !important;
    }

    /* PM marking colours */
    .pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
        border-left-color: #BC2A4D !important;
        border-right-color: #BC2A4D !important;
    }

    .pmlist li.pm_marked_colour, .pm_marked_colour {
         border-left-color: #FF6600 !important;
        border-right-color: #FF6600 !important;
    }

    .pmlist li.pm_replied_colour, .pm_replied_colour {
        border-left-color: #A9B8C2 !important;
        border-right-color: #A9B8C2 !important;
    }

    .pmlist li.pm_friend_colour, .pm_friend_colour {
        border-left-color: #5D8FBD !important;
        border-right-color: #5D8FBD !important;
    }

    .pmlist li.pm_foe_colour, .pm_foe_colour {
        border-left-color: #000000 !important;
        border-right-color: #000000 !important;
    }


    th.ip, td.ip, th.date, td.date {
        display: none;
    }
    td.username {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .panel .panel {
        padding: 0;
        border: none;
    }
    #minitabs li {
        display: inline-block;
        float: none;
        padding: 0 2px 4px;
    }
    #ucp .topiclist .header dd.mark {
        /*display: none;*/
    }
    #ucp .topiclist .header dd.time span {
        display: none;
    }
    dd.mark {
        width: 7%;
    }
    dd.moderation {
        width: 30%;
    }
    .drafts dd.mark {
        display: none;
    }
    ul.topiclist dt {
        overflow: hidden;
    }
    .ucp-main .display-options > .left-box {
        padding-left: 0;
    }
    fieldset.fields2 dd {
        margin-left: 0 !important;
    }
    fieldset.fields2 dt {
        width: auto;
    }
    #cp-main h2 {
        margin-left: 0 !important;
    }
    dt.leader {
        padding: 14px 6px !important;
    }
    .info.leader {
        display: none;
    }
    .login-window {
        display: none;
    }
    .login-link {
        display: inline;
    }
    #prefooter .prefooter-block {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding-right: 0;
    }
    #prefooter .prefooter-block:last-child {
        margin-bottom: 0px;
    }
    #footer-main {
        text-align: center;
    }
    #footer-social-links {
        position: static;
        text-align: center;
        margin-bottom: 20px;
    }
    #footer-social-links li {
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }
    #footer-links {
        text-align: center;
    }
    #footer-links-inner {
        padding: 20px 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    #footer-links .rightside-links,
    #footer-links .leftside-links {
        float: none;
    }
    #footer-links .rightside-links li,
    #footer-links .leftside-links li {
        margin: 0 15px 15px 0;
    }
    #footer-links .rightside-links li:last-child,
    #footer-links .leftside-links li:last-child {
        margin-right: 0;
    }
}

@media only screen and (max-width: 479px) {
    html { 
        -webkit-text-size-adjust: 100%;
    }

    #LeftFloatAds, #RightFloatAds{
        display: none;
    }

    .inner-block {
        width: 95%;
    }
    #headerbar {
        height: auto;
    }
    #subheader {
        margin-top: -42px;
    }
    #site-logo {
        display: block;
        width: 100%;
        height: auto;
        padding: 20px 0;
        text-align: center;
    }
    #main-nav {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        padding-bottom: 20px;
    }
    #main-nav ul {
        float: none;
    }
    .site-name {
        font-size: 1.833em;
    }
    p.site-description {
        font-size: 1.083em;
        font-weight: 600;
    }
    #sidebar {
        float: none;
        margin-bottom: 20px;
        width: 100%;
    }
    #topbar {
        height: auto;
    }
    #topbar-inner {
        height: auto;
        padding: 10px 0 20px;
    }
    #topbar-inner .search-box .search-box-inner {
        width: 100%;
    }
    #topbar-inner .search-box input#keywords {
        width: 90%;
    }
    #topbar-inner .search-box {
        width: 98%;
        margin-top: 0;
        float: none;
        height: auto;
    }
    .search-box #keywords {
        width: 90%;
    }
    #topbar-inner .search-box .search-adv-link {
        display: none;
    }
    #topbar .user-links {
        margin-top: 0;
        margin-bottom: 10px;
    }
    #topbar .user-links li {
        line-height: 30px;
    }
    .topiclist .header dt a {
        padding-left: 0;
    }
    li.header dd.topics,
    li.header dd.posts,
    li.header dd.lastpost,
    li.header dd.views,
    li.row dd.posts,
    li.row dd.lastpost,
    li.row dd.views,
    li.row dd.redirect {
        display: none;
    }
    .section-index ul.topiclist dt,
    .section-viewforum ul.topiclist dt {
        width: 65%;
    }
    ul.topiclist dt {               
        width: 60%;
        padding: 0;
    }
    ul.topiclist dl.icon dt {
        padding-left: 53px;
    }
    ul.topiclist li.header dt.header-name {
        padding-left: 0 !important;
    }
    .forumbg ul.topiclist li.row dt {
        width: 80%;
    }
    .section-ucp .ucp-main dl.icon dd.info {
        width: 24% !important;
    }
    .section-ucp .ucp-main ul.topiclist li.row dl.icon dt {
        width: 55%;
    }
    .section-ucp .ucp-main #viewfolder ul.topiclist li.row dl.icon dt {
        width: 45% !important;
    }
    .section-ucp #page-body .ucp-main ul.linklist {
        text-align: right;
    }
    dd.moderation span {
        padding-left: 0;
    }
    dl.details dt {
        width: auto;
    }
    fieldset.display-actions {
        text-align: center;
    }    
    fieldset.display-actions .left-box,
    fieldset.display-actions .right-box  {
        float: none;
        text-align: center;
    }
    fieldset.display-options a {
        margin-bottom: 10px;
        margin-top: 0;
    }
    .forumbg-table > .inner {
        margin: 0;
    }
    #topbar .user-links {
        float: none;
        text-align: center;
    }
    .user-links li {
        display: inline;
        vertical-align: top;
        zoom: 1; /* Fix for IE7 */
        *display: inline; /* Fix for IE7 */
        float: none;
    }
    #page-body-inner.sidebar {
        float: none;
        margin-right: 0;
        width: 100%;
    }
    #container1, #container2, #container3,
    #col1, #col2 {
        float: none;
        position: inherit;
        margin: 0;
    }
    #col1, #col2 {
        padding: 24px 12px !important;
        overflow: hidden;
    }
    #col1 {
        border-bottom: solid 12px #F6F6F6;
    }
    #col2 {
        background-color: #43A6DF;
        width: auto;
    }
    #page-body .linklist {
        float: none;
        text-align: center;
    }
    ul.linklist {
        text-align: center;
    }
    ul.linklist li {
        float: none !important;
        display: inline;
    }
    .top-navbar ul.linklist {
        text-align: left;
    }
    .top-navbar ul.linklist li.rightside {
        float: right !important;
    }
    #faqlinks .column1, #faqlinks .column2 {
        float: none;
        width: 100%;
    }
    #memberlist .posts, #memberlist .info {
        display: none;
    }
    #memberlist .info.forums {
        display: table-cell;
    }
    /* #memberlist.table1 thead tr th.name,
    #memberlist th.name, .table-list th.name {
        padding: 14px 6px 14px 3px !important;
    } */
    #memberlist thead th:first-child {
        /*border-top-right-radius: 5px;*/
    }
    fieldset.jumpbox {
        text-align: center;
    }
    fieldset.quickmod {
        height: auto;
        margin-bottom: 12px;
        width: auto;
    }
    fieldset dt {
        width: auto;
    }
    fieldset dd {
        margin-left: 0;
    }
    dd label {
        white-space: normal;
    }
    .topic-actions .pagination {
        margin-bottom: 12px;
    }
    #breadcrumbs {
        display: block;
        margin-bottom: 10px;
    }
    .postbody ul.profile-icons {
        overflow: hidden;
        float: none;
    }
    .postbody h3 {
        margin: 12px 0 !important;
    }
    p.author {
        margin: 0 0 0.6em;
    }
    .postprofile dd {
        display: none;
    }
    .postprofile dt > a > img {
        max-width: 100%;
        height: auto;
    }
    .block-outer.width-50 {
        float: none;
        width: 100%;
        margin-right: 0;
        clear: both;
    }
    .backto {
        overflow: hidden;
        clear: both;
    }
    .panel fieldset dt {
        float: none;
    }
    .panel fieldset.fields1 dd {
        margin-left: 0;
    }
    #message-box {
        width: 94%;
    }
    #message-box textarea {
        width: 94%;
    }
    .column1, .column2 {
        clear: none;
        float: none;
        width: 100%;
    }
    #smiley-box {
        float: none;
        width: 100%;
    }
    .editor-status {
        display: none;
    }
    a.button1, input.button1, input.button3, a.button2, input.button2 {
        margin-bottom: 6px;
    }
    #tabs {
        /*margin: 20px 0 -1px;*/
        /*min-width: inherit;*/
    }
    #tabs a {
        padding: 10px !important;
        display: inline-block;
        width: 94%;
        margin-bottom: 2px;
    }
    #tabs ul li:first-child a {
        border-top-right-radius: 5px;
    }    
    #tabs ul li:last-child a {
        border-top-right-radius: 0px;
    }
    #cp-menu, #cp-main {
        float: none;
        width: 100%;
    }
    #cp-main .panel {
        background-color: transparent;
    }
    .section-ucp .ucp-main ul.topiclist li.row,
    .section-mcp .mcp-main ul.topiclist li.row {
        border-right: solid 1px #E5E5E5;
        border-left: solid 1px #E5E5E5;
    }
    .section-ucp .ucp-main ul.topiclist li.row:last-child,
    .section-mcp .mcp-main ul.topiclist li.row:last-child {
        border-bottom: solid 1px #E5E5E5 !important;
        border-radius: 0 0 5px 5px;
    }
    .table-dark-header tbody td:first-child {
        border-left: solid 1px #E5E5E5;
    }
    .table-dark-header tbody td:last-child {
        border-right: solid 1px #E5E5E5;
    }
    .table-dark-header tbody tr:last-child td {
        border-bottom: solid 1px #E5E5E5 !important;
    }
    .table-dark-header th {
        padding: 0 10px !important;
    }
    .section-mcp .mcp-main ul.linklist li {
        display: inherit;
        margin-bottom: 10px;
        margin-left: 0;
        text-align: center;
    }
    .section-mcp .mcp-main ul.linklist li:last-child {
        margin-bottom: 0;
    }
    .pmlist li.pm_message_reported_colour,
    .pmlist li.pm_marked_colour,
    .pmlist li.pm_replied_colour,
    .pmlist li.pm_friend_colour,
    .pmlist li.pm_foe_colour {
        border-left-width: 3px !important;
        border-right-width: 3px !important;
    }

    /* PM marking colours */
    .pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
        border-left-color: #BC2A4D !important;
        border-right-color: #BC2A4D !important;
    }

    .pmlist li.pm_marked_colour, .pm_marked_colour {
         border-left-color: #FF6600 !important;
        border-right-color: #FF6600 !important;
    }

    .pmlist li.pm_replied_colour, .pm_replied_colour {
        border-left-color: #A9B8C2 !important;
        border-right-color: #A9B8C2 !important;
    }

    .pmlist li.pm_friend_colour, .pm_friend_colour {
        border-left-color: #5D8FBD !important;
        border-right-color: #5D8FBD !important;
    }

    .pmlist li.pm_foe_colour, .pm_foe_colour {
        border-left-color: #000000 !important;
        border-right-color: #000000 !important;
    }


    th.ip, td.ip, th.date, td.date {
        display: none;
    }
    td.username {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .panel .panel {
        padding: 0;
        border: none;
    }
    #minitabs li {
        display: inline-block;
        float: none;
        padding: 0 2px 4px;
    }
    #ucp .topiclist .header dd.mark,
    #cp-main .topiclist .header dd.mark {
        display: none;
    }
    .table-dark-header th {
        padding: 0 5px !important;
    }
    .table-dark-header tbody td:first-child {
        padding-left: 5px !important;
    }
    .table-dark-header th:nth-child(5) {
        border-top-right-radius: 5px;
    }
    .table-dark-header tbody td:nth-child(5) {
        border-right: 1px solid #E5E5E5;
    }
    .section-mcp .mcp-main .topiclist li.row dl dt {
        width: 99%;
        margin-bottom: 10px;
    }
    .section-mcp .mcp-main .topiclist li.row dl dd.moderation {
        width: 90%;
    }
    #ucp .topiclist .header dd.time span {
        display: none;
    }
    dd.mark {
        width: 7%;
    }
    dd.moderation {
        width: 30%;
    }
    .mcp-main .header dd.moderation {
        display: none;
    }
    .drafts dd.mark {
        display: none;
    }
    ul.topiclist dt {
        overflow: hidden;
    }
    .ucp-main .display-options > .left-box {
        padding-left: 0;
    }
    fieldset.fields2 dd {
        margin-left: 0 !important;
    }
    fieldset.fields2 dt {
        width: auto;
    }
    #cp-main h2 {
        margin-left: 0 !important;
    }
    dt.leader {
        padding: 14px 6px !important;
    }
    .info.leader {
        display: none;
    }
    .buttons + .linklist {
        float: none;
        width: 95%;
    }
    #cp-main .pm {
        margin-left: 0;
    }
    #smiley-box {
        margin: 20px 0;
    }
    #subject.inputbox {
        width: 90% !important;
    }
    .login-window {
        display: none;
    }
    .login-link {
        display: inline;
    }
    #prefooter .prefooter-block {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding-right: 0;
    }
    #prefooter .prefooter-block:last-child {
        margin-bottom: 0px;
    }
    #footer-main {
        text-align: center;
    }
    #footer-social-links {
        position: static;
        text-align: center;
        margin-bottom: 20px;
    }
    #footer-social-links li {
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }
    #footer-links {
        text-align: center;
    }
    #footer-links-inner {
        padding: 20px 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    #footer-links .rightside-links,
    #footer-links .leftside-links {
        float: none;
    }
    #footer-links .rightside-links li,
    #footer-links .leftside-links li {
        margin: 0 15px 15px 0;
    }
    #footer-links .rightside-links li:last-child,
    #footer-links .leftside-links li:last-child {
        margin-right: 0;
    }
}