
<!-- Below is how we are serving adverts in the body -->
		<script id="advertBlock"  type="text/html">
			<!-- /1027728/4wdaction.forum.leader1 -->
			<table border="0" cellpadding="10" style="margin-left: auto; margin-right: auto;">
			<tbody>
				<tr>
					<td>
						<div id='div-gpt-ad-1507495823867-0' style='height:90px; width:728px;'>
							<!-- <script>
								googletag.cmd.push(function() { googletag.display('div-gpt-ad-1504780212546-6'); });
							</script> -->
						</div>
					</td>
				</tr>
			</tbody>
			</table>
		</script>
		<script id="advertBlock2" type="text/html">
			<table border="0" cellpadding="10" style="margin-left: auto; margin-right: auto;">
			<tbody>
				<tr>
					<td>
						<div id='div-gpt-ad-1507495823867-1' style='height:90px; width:728px;'>
							<!-- <script>
								googletag.cmd.push(function() { googletag.display('div-gpt-ad-1504780212546-7'); });
							</script> -->
						</div>
					</td>
				</tr>
			</tbody>
			</table>
		</script>

<!-- Close out our advert solution -->

<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
			</ul>

			</div>
		</div>
	<!-- ENDIF -->

	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
		<div class="forabg" id="forumBody">
			<script>
				// console.log(listCount);
				// janky way to assign a numerical ID to the category body
				forumBody.id = "p"+listCount;

				// var thisPost = forumBody.id;
				var postID = "p"+listCount;
				if (listCount == 0 || listCount == 2 || listCount == 4 || listCount == 6) {
					postArray.push(postID);
					}
					listCount++;


			</script>
			<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt class="header-name"><!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --></dt>
						<dd class="topics">{L_TOPICS}</dd>
						<dd class="posts">{L_POSTS}</dd>
						<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
	<!-- ENDIF -->

	<!-- IF not forumrow.S_IS_CAT -->
		<li class="row">
			<dl class="icon" style="background-image: url({forumrow.FORUM_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt title="{forumrow.FORUM_FOLDER_IMG_ALT}">
				<!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED --><!-- <a class="feed-icon-forum" title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}"><i class="fa fa-rss-square fa-lg"></i></a> --><!-- ENDIF -->

					<!-- IF forumrow.FORUM_IMAGE --><span class="forum-image">{forumrow.FORUM_IMAGE}</span><!-- ENDIF -->
					<a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a><br />
					<div class="forum-description">{forumrow.FORUM_DESC}</div>
					<!-- IF forumrow.MODERATORS -->
						<div class="forum-moderators"><strong>{forumrow.L_MODERATOR_STR}:</strong> {forumrow.MODERATORS}</div>
					<!-- ENDIF -->
					<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS --><div class="forum-subforums"><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}</div><!-- ENDIF -->
				</dt>
				<!-- IF forumrow.CLICKS -->
					<dd class="redirect"><span>{L_REDIRECTS}: {forumrow.CLICKS}</span></dd>
				<!-- ELSEIF not forumrow.S_IS_LINK -->
					<dd class="topics">{forumrow.TOPICS} <dfn>{L_TOPICS}</dfn></dd>
					<dd class="posts">{forumrow.POSTS} <dfn>{L_POSTS}</dfn></dd>
					<dd class="lastpost"><span>
						<!-- IF forumrow.U_UNAPPROVED_TOPICS --><a href="{forumrow.U_UNAPPROVED_TOPICS}"><i class="fa fa-question-circle fa-lg approve-icon"></i></a><!-- ENDIF -->
						<!-- IF forumrow.LAST_POST_TIME --><dfn>{L_LAST_POST}</dfn> {L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}
						<!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}" title=""><i class="fa fa-arrow-right grey"></i></a> <!-- ENDIF --><br />{forumrow.LAST_POST_TIME}<!-- ELSE -->{L_NO_POSTS}<br />&nbsp;<!-- ENDIF --></span>
					</dd>
				<!-- ENDIF -->
			</dl>
		</li>
	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->
			</ul>

			</div>
		</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="panel">
		<div class="inner">
		<strong>{L_NO_FORUMS}</strong>
		</div>
	</div>
<!-- END forumrow -->
