<!-- INCLUDE ucp_header.html -->

<h2<!-- IF GROUP_COLOR --> style="color:#{GROUP_COLOR};"<!-- ENDIF -->>{L_USERGROUPS}<!-- IF GROUP_NAME --> :: {GROUP_NAME}<!-- ENDIF --></h2>

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<div class="panel">
	<div class="inner">

	<!-- IF S_ERROR -->
	<fieldset>
		<p class="error">{ERROR_MSG}</p>
	</fieldset>
	<!-- ENDIF -->

	<p>{L_GROUPS_EXPLAIN}</p>

	<!-- IF S_EDIT -->
		<h3>{L_GROUP_DETAILS}</h3>

		<fieldset>
		<dl>
			<dt><label for="group_name">{L_GROUP_NAME}:</label></dt>
			<dd><!-- IF S_SPECIAL_GROUP --><strong<!-- IF GROUP_COLOUR --> style="color: #{GROUP_COLOUR};"<!-- ENDIF -->>{GROUP_NAME}</strong> <input name="group_name" type="hidden" value="{GROUP_INTERNAL_NAME}" />
				<!-- ELSE --><input name="group_name" type="text" id="group_name" value="{GROUP_INTERNAL_NAME}" class="inputbox" /><!-- ENDIF --></dd>
		</dl>
		<dl>
			<dt><label for="group_desc">{L_GROUP_DESC}:</label></dt>
			<dd><textarea id="group_desc" name="group_desc" rows="5" cols="45" class="inputbox">{GROUP_DESC}</textarea></dd>
			<dd><label for="desc_parse_bbcode"><input type="checkbox" class="radio" name="desc_parse_bbcode" id="desc_parse_bbcode"<!-- IF S_DESC_BBCODE_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_BBCODE}</label>&nbsp;<label for="desc_parse_smilies"><input type="checkbox" class="radio" name="desc_parse_smilies" id="desc_parse_smilies"<!-- IF S_DESC_SMILIES_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_SMILIES}</label>&nbsp;<label for="desc_parse_urls"><input type="checkbox" class="radio" name="desc_parse_urls" id="desc_parse_urls"<!-- IF S_DESC_URLS_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_URLS}</label></dd>
		</dl>
		<!-- IF not S_SPECIAL_GROUP -->
		<dl>
			<dt><label for="group_type1">{L_GROUP_TYPE}:</label><br /><span>{L_GROUP_TYPE_EXPLAIN}</span></dt>
			<dd>
				<label for="group_type1"><input type="radio" class="radio" name="group_type" id="group_type1" value="{GROUP_TYPE_FREE}"{GROUP_FREE} /> {L_GROUP_OPEN}</label> 
				<label for="group_type2"><input type="radio" class="radio" name="group_type" id="group_type2" value="{GROUP_TYPE_OPEN}"{GROUP_OPEN} /> {L_GROUP_REQUEST}</label> 
				<label for="group_type3"><input type="radio" class="radio" name="group_type" id="group_type3" value="{GROUP_TYPE_CLOSED}"{GROUP_CLOSED} /> {L_GROUP_CLOSED}</label> 
				<label for="group_type4"><input type="radio" class="radio" name="group_type" id="group_type4" value="{GROUP_TYPE_HIDDEN}"{GROUP_HIDDEN} /> {L_GROUP_HIDDEN}</label>
			</dd>
		</dl>
		<!-- ELSE -->
			<input name="group_type" type="hidden" value="{GROUP_TYPE_SPECIAL}" />
		<!-- ENDIF -->
		</fieldset>

	</div>
</div>

<div class="panel">
	<div class="inner">
	<h3>{L_GROUP_SETTINGS_SAVE}</h3>

	<fieldset>
	<dl>
		<dt><label for="group_colour">{L_GROUP_COLOR}:</label><br /><span>{L_GROUP_COLOR_EXPLAIN}</span></dt>
		<dd><input name="group_colour" type="text" id="group_colour" value="{GROUP_COLOUR}" size="6" maxlength="6" class="inputbox narrow" /> <span style="background-color: {GROUP_COLOUR};">&nbsp;&nbsp;&nbsp;</span> [ <a href="{U_SWATCH}" onclick="popup(this.href, 636, 150, '_swatch'); return false;">{L_COLOUR_SWATCH}</a> ]</dd>
	</dl>
	<dl>
		<dt><label for="group_rank">{L_GROUP_RANK}:</label></dt>
		<dd><select name="group_rank" id="group_rank">{S_RANK_OPTIONS}</select></dd>
	</dl>
	</fieldset>

	</div>
</div>

<!-- INCLUDE ucp_avatar_options.html -->

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}
	<!-- IF S_DISPLAY_GALLERY --><input type="submit" name="display_gallery" value="{L_DISPLAY_GALLERY}" class="button2" />&nbsp; <!-- ENDIF -->
	<!-- IF S_IN_AVATAR_GALLERY --><input type="submit" name="cancel" value="{L_CANCEL}" class="button2" />&nbsp; <!-- ELSE -->
	<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; <!-- ENDIF -->
	<input type="submit" name="update" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>

<!-- ELSEIF S_LIST -->

	<!-- IF .leader -->
	<table class="table1" cellspacing="1">
	<thead>
	<tr>
		<th class="name">{L_GROUP_LEAD}</th>
		<th class="info">{L_GROUP_DEFAULT}</th>
		<th class="posts">{L_POSTS}</th>
		<th class="joined">{L_JOINED}</th>
		<th class="mark">{L_MARK}</th>
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN leader -->
		<tr class="<!-- IF leader.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
			<td class="name">{leader.USERNAME_FULL}</td>
			<td><!-- IF leader.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF --></td>
			<td class="posts">{leader.USER_POSTS}</td>
			<td class="joined">{leader.JOINED}</td>
			<td class="mark">&nbsp;</td>
		</tr>
	<!-- END leader -->
	</tbody>
	</table>
	<!-- ENDIF -->

	<!-- BEGIN member -->
		<!-- IF member.S_PENDING -->
			<table class="table1" cellspacing="1">
			<thead>
			<tr>
				<th class="name">{L_GROUP_PENDING}</th>
				<th class="info">{L_GROUP_DEFAULT}</th>
				<th class="posts">{L_POSTS}</th>
				<th class="joined">{L_JOINED}</th>
				<th class="mark">{L_MARK}</th>
			</tr>
			</thead>
			<tbody>
		<!-- ELSEIF member.S_APPROVED -->
			<!-- IF S_PENDING_SET -->
				</tbody>
				</table>
			<!-- ENDIF -->
			<table class="table1" cellspacing="1">
			<thead>
			<tr>
				<th class="name">{L_GROUP_APPROVED}</th>
				<th class="info">{L_GROUP_DEFAULT}</th>
				<th class="posts">{L_POSTS}</th>
				<th class="joined">{L_JOINED}</th>
				<th class="mark">{L_MARK}</th>
			</tr>
			</thead>
			<tbody>
		<!-- ELSE -->
			<tr class="<!-- IF member.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
				<td class="name">{member.USERNAME_FULL}</td>
				<td><!-- IF member.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF --></td>
				<td class="posts">{member.USER_POSTS}</td>
				<td class="joined">{member.JOINED}</td>
				<td class="mark"><input type="checkbox" name="mark[]" value="{member.USER_ID}" /></td>
			</tr>
		<!-- ENDIF -->
	<!-- BEGINELSE -->
		<table class="table1" cellspacing="1">
		<thead>
		<tr>
			<th class="name">{L_MEMBERS}</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="bg1">{L_GROUPS_NO_MEMBERS}</td>
		</tr>
	<!-- END member -->
	</tbody>
	</table>

	<ul class="linklist">
		<li class="leftside pagination">
			<!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{S_ON_PAGE}<!-- ENDIF -->
		</li>
	</ul>

	</div>
</div>

<fieldset class="display-actions">	
	<select name="action"><option value="">{L_SELECT_OPTION}</option>{S_ACTION_OPTIONS}</select>
	<input class="button2" type="submit" name="update" value="{L_SUBMIT}" />
	<div><a href="#" onclick="marklist('ucp', 'mark', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('ucp', 'mark', false); return false;">{L_UNMARK_ALL}</a></div>
</fieldset>

<div class="panel">
	<div class="inner">

	<h3>{L_ADD_USERS}</h3>

	<p>{L_ADD_USERS_UCP_EXPLAIN}</p>

	<fieldset>
	<dl>
		<dt><label for="default0">{L_USER_GROUP_DEFAULT}:</label><br /><span>{L_USER_GROUP_DEFAULT_EXPLAIN}</span></dt>
		<dd>
			<label for="default1"><input type="radio" name="default" id="default1" value="1" /> {L_YES}</label> 
			<label for="default0"><input type="radio" name="default" id="default0" value="0" checked="checked" /> {L_NO}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="usernames">{L_USERNAME}:</label><br /><span>{L_USERNAMES_EXPLAIN}</span></dt>
		<dd><textarea name="usernames" id="usernames" rows="3" cols="30" class="inputbox"></textarea></dd>
		<dd><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong></dd>
	</dl>
	</fieldset>

	</div>
</div>

<fieldset class="submit-buttons">
	<input class="button1" type="submit" name="addusers" value="{L_SUBMIT}" />
	{S_FORM_TOKEN}
</fieldset>

<!-- ELSE -->

	<!-- IF .leader -->
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>{L_GROUP_LEADER}</dt>
					<dd class="info"><span>{L_OPTIONS}</span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist">

		<!-- BEGIN leader -->
		<li class="row<!-- IF attachrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl>
				<dt><a href="{leader.U_EDIT}" class="topictitle"<!-- IF leader.GROUP_COLOUR --> style="color: #{leader.GROUP_COLOUR};"<!-- ENDIF -->>{leader.GROUP_NAME}</a>
					<!-- IF leader.GROUP_DESC --><br />{leader.GROUP_DESC}<!-- ENDIF --></dt>
				<dd class="option"><span><a href="{leader.U_EDIT}" >{L_EDIT}</a></span></dd>
				<dd class="option"><span><a href="{leader.U_LIST}">{L_GROUP_LIST}</a></span></dd>
			</dl>
		</li>
		<!-- END leader -->
		</ul>
	<!-- ELSE -->
		<p><strong>{L_NO_LEADERS}</strong></p>
	<!-- ENDIF -->

	</div>
</div>

<!-- ENDIF -->
</form>

<!-- INCLUDE ucp_footer.html -->