/* Form Styles
---------------------------------------- */

/* General form styles
----------------------------------------*/
fieldset {
	border-width: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
}

input {
	font-weight: normal;
	vertical-align: middle;
	padding: 0 3px;
	font-size: 1em;
	font-family: 'Ubuntu', sans-serif;
}

select {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	cursor: pointer;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 5px;
	font-size: 1em;
}

select:focus {
	outline-style: none;
}

option {
	padding-right: 1em;
}

select optgroup option {
	padding-right: 1em;
	font-family: 'Ubuntu', sans-serif;
}

textarea {
	font-family: 'Ubuntu', sans-serif;
	width: 60%;
	padding: 2px;
	font-size: 1em;
	line-height: 1.4em;
}

label {
	cursor: default;
	padding-right: 5px;
}

label input {
	vertical-align: middle;
}

label img {
	vertical-align: middle;
}

/* Definition list layout for forms
---------------------------------------- */
fieldset dl {
	padding: 10px 0;
}

fieldset dt {
	float: left;
	width: 40%;
	text-align: left;
	display: block;
}

fieldset dd {
	margin-left: 41%;
	vertical-align: top;
	margin-bottom: 3px;
}

/* Specific layout 1 */
fieldset.fields1 dt {
	width: 15em;
	border-right-width: 0;
}

fieldset.fields1 dd {
	margin-left: 15em;
	border-left-width: 0;
}

fieldset.fields1 div {
	margin-bottom: 3px;
}

/* Set it back to 0px for the reCaptcha divs: PHPBB3-9587 */
fieldset.fields1 .live-search div {
	margin-bottom: 0;
}

/* Specific layout 2 */
fieldset.fields2 dt {
	width: 15em;
	border-right-width: 0;
}

fieldset.fields2 dd {
	margin-left: 16em;
	border-left-width: 0;
}

/* Form elements */
dt label {
	text-align: left;
	font-weight: bold;
}

dd label {
	white-space: nowrap;
}

dd input, dd textarea {
	margin-right: 3px;
}

dd select {
	width: auto;
}

dd select[multiple] {
	width: 100%;
}

dd textarea {
	width: 85%;
}

/* Hover effects */
.timezone {
	width: 95%;
}

/* Browser-specific tweaks */
button::-moz-focus-inner {
	padding: 0;
	border: 0
}

/* Quick-login on index page */
fieldset.quick-login {
	margin-top: 5px;
}

fieldset.quick-login input {
	width: auto;
}

fieldset.quick-login input.inputbox {
	width: 15%;
	vertical-align: middle;
	margin-right: 5px;
}

fieldset.quick-login label {
	white-space: nowrap;
	padding-right: 2px;
}

/* Display options on viewtopic/viewforum pages  */
fieldset.display-options {
	text-align: center;
	margin: 3px 0 5px 0;
}
#cp-main fieldset.display-options {
	margin-left: 20px;
	margin-bottom: 20px;
}
fieldset.display-options label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.display-options a {
	margin-top: 3px;
}

.dropdown fieldset.display-options {
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.dropdown fieldset.display-options label {
	display: block;
	margin: 4px;
	padding: 0;
	text-align: right;
	white-space: nowrap;
}

.dropdown fieldset.display-options select {
	min-width: 120px;
}

/* Display actions for ucp and mcp pages */
fieldset.display-actions {
	text-align: right;
	line-height: 2em;
	white-space: nowrap;
	/*padding-right: 1em;*/
}

fieldset.display-actions label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.sort-options {
	line-height: 2em;
}

/* MCP forum selection*/
fieldset.forum-selection {
	margin: 5px 0 3px 0;
	float: right;
}

fieldset.forum-selection2 {
	margin: 13px 0 3px 0;
	float: right;
}

/* Submit button fieldset */
fieldset.submit-buttons {
	text-align: center;
	vertical-align: middle;
	margin: 10px 0;
}

fieldset.submit-buttons input {
    border: medium none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 36px;
    line-height: 32px;
    outline-style: none !important;
    position: relative;
    text-decoration: none !important;
    vertical-align: bottom;
    white-space: nowrap;
}
fieldset.submit-buttons + .panel {
	margin-top: 20px;
}

/* Posting page styles
----------------------------------------*/

/* Buttons used in the editor */
.format-buttons {
	margin: 15px 0 2px 0;
}

.format-buttons input, .format-buttons select {
	vertical-align: middle;
}

/* Main message box */
.message-box {
	width: 80%;
}

.message-box textarea {
	font-family: 'Ubuntu', sans-serif;
	width: 450px;
	height: 270px;
	min-width: 100%;
	max-width: 100%;
	/*font-size: 1.2em;*/
	resize: vertical;
	outline: 3px dashed transparent;
	outline-offset: -4px;
	-webkit-transition: all .5s ease, height 1ms linear;
	-moz-transition: all .5s ease, height 1ms linear;
	-ms-transition: all .5s ease, height 1ms linear;
	-o-transition: all .5s ease, height 1ms linear;
	transition: all .5s ease, height 1ms linear;
}

/* Emoticons panel */
.smiley-box {
	width: 18%;
	float: right;
}

.smiley-box img {
	margin: 3px;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	border: 2px solid transparent;
	padding: 9px 10px;
	box-sizing: border-box;
	border-radius: 5px;
}

.inputbox:hover, .inputbox:focus {
	border: 2px solid transparent;
	outline-style: none;
}

input.inputbox	{ width: 85%; }
input.medium	{ width: 50%; }
input.narrow	{ width: 25%; }
input.tiny	{ width: 150px; }

textarea.inputbox {
	width: 85%;
}

.autowidth {
	width: auto !important;
}

input[type="number"] {
	-moz-padding-end: inherit;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input[type="search"]::-webkit-search-cancel-button {
	cursor: pointer;
}

/* Form button styles
---------------------------------------- */
input.button1, input.button2 {
	font-size: 1em;
}

a.button1, input.button1, input.button3, a.button2, input.button2 {
	width: auto !important;
	font-family: 'Ubuntu', sans-serif;
	background: transparent none repeat-x top left;
	vertical-align: middle;
    padding: 0 10px 2px;
    height: 34px;
    line-height: 30px;
    border: 0;
    margin-bottom: 0;

}
.button2#refresh_vc {
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 36px;
	width: 36px;
	padding: 0 10px;
}

a.button1, input.button1 {
	font-weight: normal;
	border-radius: 5px !important;
	height: 36px;
	line-height: 32px;
}

input.button3 {
	padding: 0;
	margin: 0;
	line-height: 5px;
	height: 12px;
	background-image: none;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="checkbox"], input[type="radio"] {
	cursor: pointer;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-radius: 5px !important;
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	/*text-decoration: none;
	padding: 2px 8px;
	line-height: 250%;
	vertical-align: text-bottom;
	background-position: 0 1px;*/

	border: medium none;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	height: 34px;
	line-height: 34px;
	outline-style: none !important;
	position: relative;
	text-decoration: none !important;
	vertical-align: bottom;
	white-space: nowrap;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	background-position: 0 100%;
}

input.disabled {
	font-weight: normal;
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	outline-style: none;
}

/* Topic and forum Search */
.search-box {
	float: left;
}

.search-box .inputbox {
	background-image: none;
	border-right-width: 0;
	border-radius: 5px 0 0 5px;
	float: left;
	height: 36px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.search-box button {
	float: left;
}

#search-box button.button-search,
.search-box button.button-search {
	border-radius: 0;
	font-size: 0;
	height: 36px;
	width: 36px;
	margin: 0;
	padding: 0px;
}
#search-box a.button.button-search-end,
.search-box a.button.button-search-end {
	border-left-width: 0;
	border-radius: 0 5px 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 36px;
	width: 36px;
	padding: 0;
}

.search-box a.button {
	border-left-width: 0;
	border-radius: 0 5px 5px 0;
	font-size: 0;
	margin: 0;
	padding: 2px 5px 2px 3px;
}

#search-box button.button-search,
#search-box a.button.button-search-end,
.search-box button.button-search,
.search-box a.button.button-search-end {
	text-align: center;
}

#search-box button.button-search i,
#search-box a.button.button-search-end i,
.search-box button.button-search i,
.search-box a.button.button-search-end i {
	font-size: 16px;
	margin-top: 9px;
}

/* Search box (header)
--------------------------------------------- */
.search-header {
	border-radius: 4px;
	display: block;
	float: right;
	margin-right: 5px;
	margin-top: 30px;
}

/*.search-header .inputbox { border: 0; }*/

.navbar .linklist > li.responsive-search { display: none; }

.search-header button {
	border-top: 0;
	border-bottom: 0;
}

.search-header a.button {
	border: 0;
	border-left: 1px;
	padding: 3px 5px 3px 4px;
}

input.search {
	background-image: none;
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-left: 17px;
}

.full { width: 95%; }
.medium { width: 50%;}
.narrow { width: 25%;}
.tiny { width: 10%;}
