			<div id="login-box" class="login-popup">
			    <a href="#" class="close"></a>
				<form method="post" action="{S_LOGIN_ACTION}" class="quick-login">
					<fieldset>
						<div class="navbar_username_outer">
							<label for="username">{L_USERNAME}:</label>&nbsp;<br /><input type="text" name="username" id="navbar_username" size="10" class="inputbox" title="{L_USERNAME}" />
						</div>

						<div class="navbar_password_outer">
							<label for="password">{L_PASSWORD}:</label>&nbsp;<br /><input type="password" name="password" id="navbar_password" size="10" class="inputbox" title="{L_PASSWORD}" />
						</div>




						<div class="login-buttons">
							<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
							{S_LOGIN_REDIRECT}
							<!-- IF S_AUTOLOGIN_ENABLED -->
								<label id="autologin_label" for="autologin"><input type="checkbox" name="autologin" id="autologin" />&nbsp;{L_LOG_ME_IN}</label>
							<!-- ENDIF -->
						</div>
					</fieldset>
				</form>
					<div class="login-footer">			        
						<!-- IF S_REGISTER_ENABLED -->
							<a class="register-link" href="{U_REGISTER}">{L_REGISTER}</a>
						<!-- ENDIF -->
						<!-- IF U_SEND_PASSWORD -->
							<a class="restore-password rightside" href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a>
						<!-- ENDIF -->
			        </div>

			</div>
			<div id="mask"></div>