<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
{META}
<title><!-- IF UNREAD_NOTIFICATIONS_COUNT -->({UNREAD_NOTIFICATIONS_COUNT}) <!-- ENDIF --><!-- IF not S_VIEWTOPIC and not S_VIEWFORUM -->{SITENAME} - <!-- ENDIF --><!-- IF S_IN_MCP -->{L_MCP} - <!-- ELSEIF S_IN_UCP -->{L_UCP} - <!-- ENDIF -->{PAGE_TITLE}<!-- IF S_VIEWTOPIC or S_VIEWFORUM --> - {SITENAME}<!-- ENDIF --></title>

<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{{ path('phpbb_feed_index') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{{ path('phpbb_feed_news') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{{ path('phpbb_feed_forums') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{{ path('phpbb_feed_topics') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{{ path('phpbb_feed_topics_active') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{{ path('phpbb_feed_forum', { forum_id : S_FORUM_ID } ) }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{{ path('phpbb_feed_topic', { topic_id : S_TOPIC_ID } ) }}"><!-- ENDIF -->
	<!-- EVENT overall_header_feeds -->
<!-- ENDIF -->

<!-- IF U_CANONICAL -->
	<link rel="canonical" href="{U_CANONICAL}">
<!-- ENDIF -->

<!--
	phpBB style name:	Caravan & Motorhome v.1.0.1
	Based on style:		prosilver (this is the default phpBB3 style)
	Author:				Joel Williamson
-->

<!-- IF S_ALLOW_CDN -->
<script>
	WebFontConfig = {
		google: {
			families: ['Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese']
		}
	};

	(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);
</script>
 


<!-- ENDIF -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script>
	var postArray = [];
	var listCount = 0;
</script>

<!-- New DFP Placements -->
<script  src='https://www.googletagservices.com/tag/js/gpt.js' async></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
  (function() {
      var gads = document.createElement("script");
      gads.async = true;
      gads.type = "text/javascript";
      var useSSL = "https:" == document.location.protocol;
      gads.src = (useSSL ? "https:" : "http:") +
      "//www.googletagservices.com/tag/js/gpt.js";
      var node = document.getElementsByTagName("script")[0];
      node.parentNode.insertBefore(gads, node);
    })();
</script>
<script>
  googletag.cmd.push(function() {
    // googletag.defineSlot('/1027728/cm.forum.header', [[300, 250], [728, 90]], 'div-gpt-ad-1507179855635-0').addService(googletag.pubads());
    // googletag.defineSlot('/1027728/cm.forum.tower-left', [123, 640], 'div-gpt-ad-1507179855635-1').addService(googletag.pubads());
    // googletag.defineSlot('/1027728/cm.forum.tower-right', [123, 640], 'div-gpt-ad-1507179855635-2').addService(googletag.pubads());

    // Lets play with DFP Responsiveness

var headerAdvertMapping = googletag.sizeMapping().
	addSize([320,700],[300,250]). // Mobile
	addSize([1024,767],[728,90]). // Mobile
	addSize([1050,200],[728,90]). //Desktop Size
	build();

var towerAdvertMapping = googletag.sizeMapping().
	addSize([320,568],[]). //iPhoneSE
	addSize([320,700],[]). // Mobile Generic
	addSize([375,667],[]). //iphone 7
	addSize([1024,768],[123,640]). //iPad Mini 7.9" Landscape, iPad 9.7" Landscape

	addSize([1050,200],[123,640]). //Desktop Size
	build();

// Here's the slots specifically

var gptAdSlots = [];

gptAdSlots[0] = googletag.defineSlot('/1027728/cm.forum.header', [[300, 250], [728, 90]], 'div-gpt-ad-1508282461883-1').
	defineSizeMapping(headerAdvertMapping).
	setCollapseEmptyDiv(true).
	 setTargeting("test", "refresh").
	addService(googletag.pubads());
gptAdSlots[1] = googletag.defineSlot('/1027728/cm.forum.tower-left', [123, 640], 'div-gpt-ad-1508282461883-5').
	defineSizeMapping(towerAdvertMapping).
	setCollapseEmptyDiv(true).
	 setTargeting("test", "refresh").
	addService(googletag.pubads());
gptAdSlots[2] = googletag.defineSlot('/1027728/cm.forum.tower-right', [123, 640], 'div-gpt-ad-1508282461883-6').
	defineSizeMapping(towerAdvertMapping).
	setCollapseEmptyDiv(true).
	 setTargeting("test", "refresh").
	addService(googletag.pubads());
gptAdSlots[3] = googletag.defineSlot('/1027728/cm.forum.footer', [[300, 250], [728, 90]], 'div-gpt-ad-1508282461883-0').
	defineSizeMapping(headerAdvertMapping).
	setCollapseEmptyDiv(true).
	 setTargeting("test", "refresh").
	addService(googletag.pubads());
gptAdSlots[4] = googletag.defineSlot('/1027728/cm.forum.index.int.1', [[300, 250], [728, 90]], 'div-gpt-ad-1508282461883-2').
	defineSizeMapping(headerAdvertMapping).
	setCollapseEmptyDiv(true).
	 setTargeting("test", "refresh").
	addService(googletag.pubads());
gptAdSlots[5] = googletag.defineSlot('/1027728/cm.forum.index.int.2', [[300, 250], [728, 90]], 'div-gpt-ad-1508282461883-3').
	defineSizeMapping(headerAdvertMapping).
	setCollapseEmptyDiv(true).
	 setTargeting("test", "refresh").
	addService(googletag.pubads());
gptAdSlots[6] = googletag.defineSlot('/1027728/cm.forum.index.int.3', [[300, 250], [728, 90]], 'div-gpt-ad-1508282461883-4').
	defineSizeMapping(headerAdvertMapping).
	setCollapseEmptyDiv(true).
	 setTargeting("test", "refresh").
	addService(googletag.pubads());

    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.enableServices();
  });
</script>

<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LANG_LINK}" rel="stylesheet">

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{T_THEME_PATH}/bidi.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!-- IF S_PLUPLOAD -->
	<link href="{T_THEME_PATH}/plupload.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!-- IF S_COOKIE_NOTICE -->
	<link href="{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!--[if lte IE 9]>
	<link href="{T_THEME_PATH}/tweaks.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<![endif]-->

<!-- EVENT overall_header_head_append -->

{$STYLESHEETS}

<!-- EVENT overall_header_stylesheets_after -->


<!-- Google Webfonts -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
<style type="text/css">
	#LeftFloatAds{
		left: 2.5%;
		position: fixed;
		text-align: center;
		/*top: 0px;*/
		height: 640px;
		width: 123px;
		/*background-color: blue;*/
}

	#RightFloatAds{
		right: 2.5%;
		position: fixed;
		text-align: center;
		/*top: 10%;*/
		min-height: 640px;
		min-width: 123px;
		/*background-color: blue;*/
}
</style>
</head>
<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}">

	<!-- <div id="LeftFloatAds" data-spy="affix" data-offset-top="400"> -->
		<!-- /1027728/cm.forum.tower-left -->
		<!-- <div id='div-gpt-ad-1508282461883-5' style='height:640px; width:123px;'>
			<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1508282461883-5'); });
			</script>
		</div>
	</div> -->
	
	<!-- <div id="RightFloatAds" data-spy="affix" data-offset-top="400" > -->
		<!-- /1027728/cm.forum.tower-right -->
		<!-- <div id='div-gpt-ad-1508282461883-6' style='height:640px; width:123px;'>
			<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1508282461883-6'); });
			</script>
		</div>
	</div> -->

<!-- EVENT overall_header_body_before -->

<div id="wrap" class="wrap">
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-header" class="page-header-marina">
		<!-- INCLUDE navbar_header_marina.html -->
		<div class="headerbar" role="banner">
		<!-- EVENT overall_header_headerbar_before -->
			<div class="inner">

			<div id="site-description" class="site-description">
				<a href="/">
				<img src="{T_THEME_PATH}/images/logo_02_new.png" style="padding-top: 1.7rem;">
				</a>
				<!-- <h1>{SITENAME}</h1>
				<p>{SITE_DESCRIPTION}</p> -->
				<p class="skiplink"><a href="#start_here">{L_SKIP}</a></p>
			</div>

			</div>

			<!-- EVENT overall_header_headerbar_after -->
		</div>
		<!-- EVENT overall_header_navbar_before -->
		

		<!-- INCLUDE navbar_header.html -->

		<!-- INCLUDE subheader.html -->

	</div>

	<!-- EVENT overall_header_page_body_before -->

	<a id="start_here" class="anchor"></a>
	<div id="page-body" class="page-body" role="main" style="margin-top: 25px; min-height: 45vh;">
		<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
		<div id="information" class="rules">
			<div class="inner">
				<strong>{L_INFORMATION}{L_COLON}</strong> {L_BOARD_DISABLED}
			</div>
		</div>
		<!-- ENDIF -->

		<!-- EVENT overall_header_content_before -->
