
<div id="subheader" data-type="background" data-speed="3">
	<div id="subheader-inner" class="inner-block">
		<!-- Subheader content starts here -->
			<div id='div-gpt-ad-1508282461883-1'>
			<script>
			googletag.cmd.push(function() { googletag.display('div-gpt-ad-1508282461883-1'); });
			</script>
			</div>
		<!-- Subheader content ends here -->
	</div>
</div>
